@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-editor {
  min-height: 12rem;
  /* border: 1px solid #e9eaf0 !important;*/
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}
.gridMinMax{
     display: grid;
    grid-template-columns: repeat(12, minmax(auto, 8.3333333333%));
    grid-gap: 20px;
}